@model mf_dev_backend_25.Models.Consumos

@{
    ViewData["Title"] = "Details";
}

<h1>Dados de Consumo</h1>

<div>
    <h4>Consumos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.km)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.km)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCombustivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCombustivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Voltar</a>|
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> 
</div>
